# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!gradle-wrapper.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/output/
*.hprof
/java_pid16284.hprof.brxb6u.b.ij/
/build/

# Created by https://www.toptal.com/developers/gitignore/api/groovy
# Edit at https://www.toptal.com/developers/gitignore?templates=groovy

user.gradle
.gradle/
target/
out/
